@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700|Montserrat:400,600|Source+Sans+Pro:200,300,400');
/* font-family: 'Montserrat', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Source Sans Pro', sans-serif; */

body {
    background: linear-gradient(to right, #355c7d, #6c5b7b, #c06c84); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
    width: 100%;
    height: 100%;
    
}

.jumbotron {
    font-weight: 600;
    margin: 0 auto 18px;
    border: 2px solid rgb(51, 50, 50);
    padding: 18px;
    background-color: rgb(51, 50, 50);
    color: goldenrod;
}
.App {
    width: 80%;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.2em;
}

.well:hover {
    background-color: white;
    color: purple;
    transition: 0.8s;
    -webkit-box-shadow: 2px 9px 40px 13px goldenrod;
-moz-box-shadow: 2px 9px 40px 13px goldenrod;
box-shadow: 2px 9px 40px 13px goldenrod
}

.well{

    border: rgb(51, 50, 50);
    background-color: rgb(51, 50, 50);
    color: goldenrod;
}